<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Sample Node/Express/MySQL App</title>
        <!-- Application CSS Files -->
       	{% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                {% if isAuthenticated %}
                    <li><a href="/home">My Home</a></li>
                    <li><a href="/logout">Logout</a></li>
                {% else %}
                    <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </nav>

        <ul id="messages" class="messages">
        {% for message in messages %}
            <li class="{{ message.type }}">{{ message.message }}</li>
        {% endfor %}
        </ul>

        {% block content %}{% endblock %}

            <!--Application JavaScript Files-->
        {% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %}
       
        {% if livereload %}
        <!--Livereload script rendered -->
        <script type="text/javascript" src="{{host}}:35729/livereload.js"></script>
        {% endif %}
    
    </body>
</html>
