{% extends '../layouts/default.html' %}

{% block content %}
    <h1>Register</h1>

    <form action="/register" method="post">
        <ul>
            <li>
                <label for="username">Email</label>
                <input id="username" type="text" name="username" value="{{ username }}" >
            </li>
            <li>
                <label for="password">Password</label>
                <input id="password" type="password" name="password" >
            </li>
            <li>
                <label for="validate_password">Validate Password</label>
                <input id="validate_password" type="password" name="pwdconfirm" >
            </li>
           
            <li>
                <button type="submit">Go</button>
            </li>
        </ul>
    </form>
{% endblock %}